<section id="portfolio"> <!-- HTML5 section tag for the portfolio 'section' -->
    		<h2 class="work">Found Churches</h2>
    		<ul class="work">
    			<li>
    				<%= link_to image_tag("inspectelementSmall.jpg"), :controller => 'home' %>
    			</li>
    			<li>
    				<%= link_to image_tag("inspectelementSmall.jpg"), :controller => 'home' %>
    			</li>
    			<li>
    				<%= link_to image_tag("inspectelementSmall.jpg"), :controller => 'home' %>
    			</li>
    			<li>
    				<%= link_to image_tag("inspectelementSmall.jpg"), :controller => 'home' %>
    			</li>
    			<li>
    				<%= link_to image_tag("inspectelementSmall.jpg"), :controller => 'home' %>
    			</li>
    			<li>
    				<%= link_to image_tag("inspectelementSmall.jpg"), :controller => 'home' %>
    			</li>
    			<li>
    				<%= link_to image_tag("inspectelementSmall.jpg"), :controller => 'home' %>
    			</li>
    			<li>
    				<%= link_to image_tag("inspectelementSmall.jpg"), :controller => 'home' %>
    			</li>
    			<li>
    				<%= link_to image_tag("inspectelementSmall.jpg"), :controller => 'home' %>
    			</li>
    		</ul>
</section>