<!DOCTYPE html>
<html lang="en">

<!-- This is a demonstration of HTML5 goodness with healthy does of CSS3 mixed in -->
<%= render "homeImports"%>

<body>
    <%= render "homeHeader"%>
    
    <section id="contentcontainer"> <!-- HTML5 section tag for the content 'section' -->
    	
    	<%= render "mapContainer" %>
    	
    	<%= render "portfolio" %>
    	
    	<%= render "homeFooter" %>
    	
    	<%= yield :scripts %>
    	
    </section>
    
</body>

</html>