<%= form_for(@denomination) do |f| %>
  <% if @denomination.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@denomination.errors.count, "error") %> prohibited this denomination from being saved:</h2>

      <ul>
      <% @denomination.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <span><%= f.label :name %>: <%= f.text_field :name %></span>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
